/* sets a universal style for all elements,
    "box-sizing: border-box" will make padding and border included in the width and height
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background-color for body section */
body {
    background-color: #d9dcd6;
}

/* define styles for header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* customize h1 font style */
h1 {
    display: inline-block;
    font-size: 48px;
}


/* define style for span inline text container */
span {
    color: #d9dcd6;
}

/* nested selector defines style for selection tag within header tag */
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes the styled dot for ul */
ul {
    list-style-type: none;
}

/* list item displayed inline, with left margin 25px*/
li {
    display: inline-block;
    margin-left: 25px;
}

/* defines color of the link text and disables decoration of text (link remains same style clicked or not) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* todo: background-image back to html control? */
/* defines styles and location for the main-image within figure tag */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* disable the display of figcaption */
figcaption {
    display: none;
}

/* define styles for article within section which within main tag */
 main section article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* nested selectors, defines style for image within article only
set image max height to be 200px */
main section article img {
    max-height: 200px;
}

/* defines style for h2 tag */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets paragraph font size to be 16px */
p {
    font-size: 16px;
}

/* style float left with right margin of 25 px */
.float-left {
    float: left;
    margin-right: 25px;
}

/* style float right with right margin of 25 px */
.float-right {
    float: right;
    margin-left: 25px;
}

/* nested selectors section width main to be 75% of screen size
    items display inline with left margin 20 px*/
main section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* gave this style a better name */
/* style for the aside section (right hand side nav bar) */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* nested selector, defines style for article within aside */
aside article {
    margin-bottom: 32px;
    color: #ffffff;
}


/* customize h3 style */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* nested selector, defines image style within aside tag only */
aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* defines style for footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* style for h4 tag */
h4 {
    font-size: 20px;
}
