/* CSS selectors are following the same order as they appear in index.html file */

/* Resets the box size of every element 
    "box-sizing: border-box" will make padding and border included in the width and height
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background-color for body section */
body {
    background-color: #d9dcd6;
}

/* gives header section a 20px padding
    sets background-color, font color and font family
*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* customize h1 font style */
h1 {
    display: inline-block;
    font-size: 48px;
}


/* define font color for span inline text container */
span {
    color: #d9dcd6;
}

/* nested selector defines style for selection tag within header tag */
header section {
    /* 15px padding on top only, 20px margin on right only */
    padding-top: 15px;
    margin-right: 20px;
    /* section float to the right hand side of screen */
    float: right;
    /* use font 'Gill Sans' first, if this fails, will try the next  font as a "fallback" system, sans-serif is a generic font family */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes the styled dot for ul */
ul {
    list-style-type: none;
}

/* list item displayed inline, with left margin 25px*/
li {
    display: inline-block;
    margin-left: 25px;
}

/* defines color of the link text and  */
a {
    color: #ffffff;
    /* removes all text styles for hyperlink */
    text-decoration: none;
}

/* defines styles and location for the main-image within figure tag */
figure {
    /* image height 800px, width 100% of screen size */
    height: 800px;
    width: 100%;
    /* 25px at bottom margin only */
    margin-bottom: 25px;
    /* url location of the background image */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* resize the background image to cover the entire container */
    background-size: cover;
    /* sets initial position of the background image to center */
    background-position: center;
}

/* disable the display of figcaption */
figcaption {
    display: none;
}

/* define styles for article which is child of section which is child of main tag */
 main section article {
     /* 20px at bottom margin only */
    margin-bottom: 20px;
    /* padding 50px to all four sides */
    padding: 50px;
    /* sets height at 300 px */
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background color*/
    background-color: #0072bb;
    /*font color*/
    color: #ffffff;
}

/* nested selectors, defines style for image within article only
set image max height to be 200px */
main section article img {
    max-height: 200px;
}

/* h2 tag bottom margin only 20px, font size 36px */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets paragraph font size to be 16px */
p {
    font-size: 16px;
}

/* the element float to the left of its container with right margin of 25px */
.float-left {
    float: left;
    margin-right: 25px;
}

/* the element float to the left of its container with left margin of 25px */
.float-right {
    float: right;
    margin-left: 25px;
}

/* nested selectors sets the section within main to be 75% of screen size
    items display inline with left margin of 20px*/
main section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* style for the aside section (right hand side nav bar) */
aside {
    /* set right margin to 20px */
    margin-right: 20px;
    /* padding on all four sides 20px */
    padding: 20px;
    clear: both;
    /* float to the right of its container */
    float: right;
    /* element width at 20% of screen size  */
    width: 20%;
    /* element height at 100% of screen size  */
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* nested selector, defines style for article within aside */
aside article {
    margin-bottom: 32px;
    color: #ffffff;
}


/* customize h3 style */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* nested selector, defines style for image which has a parent of article and a parent of aside only */
aside article img {
    /* block display, element stack on top of each other */
    display: block;
    /* top and bottom margin 10px, right and left auto(evenly distribute empty space on both right and left) */
    margin: 10px auto;
    /* element max-width at 150px */
    max-width: 150px;
}

/* defines style for footer section */
footer {
    /* padding 30px on all four sides */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* align text center horizontally  */
    text-align: center;
}

h4 {
    /* font size 20px for h4 tag */
    font-size: 20px;
}
