/* CSS selectors are following the same order as they appear in index.html file */

/* Resets the box size of every element 
    "box-sizing: border-box" will make padding and border included in the width and height
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


header {
    padding: 20px;
    /* Use font 'Trebuchet MS' first, if this fails, will try the next  font as a "fallback" system, Arial and sans-serif is a generic font family */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Set background color and font color */
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    /* h1 display as inline-block style */
    display: inline-block;
    font-size: 48px;
}

span {
    /* color for the font in span inline text container */
    color: #d9dcd6;
}

/* Nested selector defines style for selection tag within header tag */
header section {
    /* 15px padding on top only, 20px margin on right only */
    padding-top: 15px;
    margin-right: 20px;
    /* Section float to the right hand side of screen */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* No list item marker is shown */
ul {
    list-style-type: none;
}

/* List items displayed inline block style, with left margin 25px*/
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    /* Defines color of the hyperlink text */
    color: #ffffff;
    /* Removes all the style on the hyperlink text (does not change color, no underline etc)*/
    text-decoration: none;
}

/* Defines styles and location for the main-image within figure tag */
figure {
    /* Image height 800px, width 100% of screen size */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /* Url location of the background image */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* Resize the background image to cover the entire container */
    background-size: cover;
    /* Sets initial position of the background image to center */
    background-position: center;
}

/* Hides figcaption */
figcaption {
    display: none;
}

/* Define styles for article with parent of section then main */
 main section article {
    margin-bottom: 20px;
    /* Padding 50px to all four sides */
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    /* Font color */
    color: #ffffff;
}

/* Nested selectors, defines style for image with parent of article then section then main, set image max height to be 200px */
main section article img {
    max-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* The element float to the left of its container with right margin of 25px */
.float-left {
    float: left;
    margin-right: 25px;
}

/* The element float to the right of its container with left margin of 25px */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Nested selectors sets the section within main to be 75% of screen size
    items display inline block with left margin of 20px*/
main section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside {
    margin-right: 20px;
    /* Padding on all four sides 20px */
    padding: 20px;
    clear: both;
    float: right;
    /* Element width at 20%, height at 100% of screen size  */
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside article img {
    /* Block display, element stack on top of each other */
    display: block;
    /* Top and bottom margin 10px, right and left auto(evenly distribute empty space on both right and left) */
    margin: 10px auto;
    /* Element max-width at 150px */
    max-width: 150px;
}

footer {
    /* Padding 30px on all four sides */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}
